body{
	background-color: #ECE9E9;
}
#Heading{
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;	
	background-color: black;
	color: white;
	width:100%;
	margin-bottom: 30px;
	border-radius: 5px;
	
}
#heading1{
	text-align: center;
	float: left;
	padding-top: 20px;
	padding-left: 40px;
	font-size: 3em;
}
#logo{
	float: left;
	padding-left: 70px;
}
#Menu{
}
#ul{
	
}
li{
	display: inline;
	}
a{
	background-color: Black;
	color: white;
    
	text-decoration: none;
	padding: 15px;
	border-radius: 10px 10px 0 0;
	margin: 2px;	
}